body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: blanchedalmond;
    padding: 25px;
    height: 300px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px;
}

img{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    position: absolute;
    bottom: 75%;
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
}

